/* Flexbox social buttons */
#social-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 100px;
    margin-bottom: 5px;
}

.social:nth-child(1) { width: 45px;}

.social:nth-child(2) { width: 45px;}

.social:nth-child(3) { width: 45px;}

.social:nth-child(4) { width: 45px;}

/* Hover on social buttons */
.social:hover {opacity: 0.7;}

/*  Images sizing social icones */
.social-buttons-section img {
	width: 50px;
	height: 50px;
}

.cover-section img {
	width: auto;
	height: 700px;
	margin-left: 100px;
}