/* Body */

body { background-image: url(../../assets/pictures/background.jpg);}

/* Navbar */
.navbar{
	border-radius: 0px;
	margin-bottom: 0px;
}

.navbar-inverse .navbar-brand {
	color: #5FC0C5;
	font-family: 'Amatic SC';
	font-size: 28px;
	font-weight: 900;
}

.navbar-inverse .navbar-nav > li > a {
	color:#5FC0C5;
	font-family: 'Amatic SC';
	font-size: 24px;
	font-weight: 900;
}

/* Flexbox social buttons */

.social-buttons-section{ background-color: white; }

.row { margin-left: 0; }

#social-container {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
 }

/* Hover on social buttons */
.social:hover {opacity: 0.7;}

/*  Images sizing social icones */
.social-buttons-section img {
	width: 50px;
	height: 50px;
}

/*  Images sizing & position cover */
.cover-section img {
	width: 100vw;
	height: auto;
	margin: 0px;
	position: relative;
}

/*  p in cover section*/
.cover-section p {
    margin: 0 0 0px;
}

/*  a in cover section*/
.cover-section a {
    color: #f2f7d9;
}
/*  p "ON TOUR" */
.ontour {
	position: absolute;
	top: 760px;
	right: 200px;
	font-family: 'Quicksand';
	font-size: 60px;
	text-align: right;
	font-weight: bold;
	text-transform: uppercase;
	background-color: black;
	color: #f2f7d9;
	width: 315px;
	padding-right: 15px;
	margin: 0px;
}

/*  p "SEE US..."*/
.seeus {
	position: absolute;
	top: 850px;
	right: 200px;
	font-family: 'Quicksand';
	font-size: 30px;
	text-align: right;
	font-weight: bold;
	text-transform: uppercase;
	background-color: black;
	color: #f2f7d9;
	width: 970px;
	padding-right: 15px;
}

/*  p "SEE US..." when hover*/
.seeus a:hover{
	color: #5FC0C5;
	text-decoration: none;
}

/*  Youtube video */

#tubecontainer {
	width:100%;
    float:left;
    text-align:center;
}

div.hometube iframe {
	width: 640px;
    height: 360px;
    margin-top: 20px;	
}

/*contact page */
.contact{
	padding-top: 50px;
	text-align: center;
	justify-content: center;
}

/* Agenda */

.agenda {
  width: 300px;
}

.agenda p {
  font-family: 'Abel';
  font-size: 1.5em;
}

.tour_pair {
  background-color: white;
}

.tour_pair p {
  color: black;
}

.tour_impair {
  background-color: black;
}

.tour_impair p {
  color: white;
}

.date {
  font-size: 1.7em;
  font-weight: 700;
  text-transform: uppercase;
}

.more {
  display: none;
}

.see {
  color: black;
  font-family: 'Abel';
  font-style: italic;
  font-weight: 700;
  font-size: 1.2em;
}


/*  Footer */

footer {
	background-color: black;
	opacity: 0.8;
	position: absolute;
	width: 100%;
}

.flex_container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.with_love {
	text-align: center;
}

.heart {
	color: red;
	font-size: 20px;
}

ul, li {
	list-style: none;
	font-size: 1.1em;
	font-family: 'Amatic SC';
	color: #5FC0C5;
}

a {color: #5FC0C5;}

a:hover {
	text-decoration: none;
	color: white;
}

a:active {
	color: #5FC0C5;
	text-decoration: none;
}

a:focus {
	color: #5FC0C5;
	text-decoration: none;
}

footer {
	font-size: 1.1em;
	color: #5FC0C5;
	font-family: 'Amatic SC';
}

.box1 {padding-top: 5px;}

.with_love .withloveText {color: #5FC0C5;}

/*  Homepage NEWS */

.hpnews_container {
	display: flex;
    flex-direction: column;
}

.picture_wild img {
	width: 300px;
	height: 300px;
	padding-top: 20px;
}

figure {
	width: 310px;
	height: 370px;
}

/* Typos */

h2 {font-family: Quicksand}