
/* Navbar */
.navbar{
	border-radius: 0px;
	margin-bottom: 0px;
}

.navbar-inverse .navbar-brand {
	color: #5FC0C5;
	font-family: 'Amatic SC';
	font-size: 28px;
	font-weight: 900;
}

.navbar-inverse .navbar-nav > li > a {
	color:#5FC0C5;
	font-family: 'Amatic SC';
	font-size: 24px;
	font-weight: 900;
}

/* Flexbox social buttons */
#social-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 100px;
    margin-bottom: 5px;
}

.social:nth-child(1) { width: 45px;}

.social:nth-child(2) { width: 45px;}

.social:nth-child(3) { width: 45px;}

.social:nth-child(4) { width: 45px;}

/* Hover on social buttons */
.social:hover {opacity: 0.7;}

/*  Images sizing social icones */
.social-buttons-section img {
	width: 50px;
	height: 50px;
}

/*  Images sizing & position cover */
.cover-section img {
	width: 100vw;
	margin: 0px;
	position: relative;
}

/*  p in cover section*/
.cover-section p {
    margin: 0 0 0px;
}

/*  a in cover section*/
.cover-section a {
    color: #f2f7d9;
}
/*  p "ON TOUR" */
.ontour {
	position: absolute;
	top: 760px;
	right: 200px;
	font-family: 'Quicksand';
	font-size: 60px;
	text-align: right;
	font-weight: bold;
	text-transform: uppercase;
	background-color: black;
	color: #f2f7d9;
	width: 315px;
	padding-right: 15px;
	margin: 0px;
}

/*  p "SEE US..."*/
.seeus {
	position: absolute;
	top: 850px;
	right: 200px;
	font-family: 'Quicksand';
	font-size: 30px;
	text-align: right;
	font-weight: bold;
	text-transform: uppercase;
	background-color: black;
	color: #f2f7d9;
	width: 970px;
	padding-right: 15px;
}

/*  p "SEE US..." when hover*/
.seeus a:hover{
	color: #5FC0C5;
	text-decoration: none;
}

/*  Youtube video */

#tubecontainer {
	width:100%;
    float:left;
    text-align:center;
    background-image: url(assets/pictures/feuilles.jpg);
}

body {
	background-image: url(assets/pictures/feuilles.jpg);
}

div.hometube iframe {
	width: 640px;
    height: 360px;
    margin-top: 20px;	
}

.contact{
	padding-top: 50px;
	text-align: center;
	justify-content: center;
	z-index: 1;
}

/*  Footer */

footer {
	background-color: black;
	opacity: 0.8;
	position: absolute;
	width: 100%;
}

.flex_container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.with_love {
	text-align: center;
}

li, p {color: white;}

.heart {
	color: red;
	font-size: 20px;
}

ul, li {
	list-style: none;
	font-size: 1.1em;
	font-family: 'Amatic SC';
	color: #5FC0C5;
}

a {color: #5FC0C5;}

a:hover {
	text-decoration: none;
	color: white;
}

a:active {
	color: #5FC0C5;
	text-decoration: none;
}

a:focus {
	color: #5FC0C5;
	text-decoration: none;
}

footer {
	font-size: 1.1em;
	color: #5FC0C5;
	font-family: 'Amatic SC';
}

.box1 {padding-top: 5px;}

.with_love .withloveText {color: #5FC0C5;}

/*  Homepage NEWS */

.hpnews_container {
	display: flex;
    flex-direction: column;
}

img {
	width: 300px;
	height: 300px;
	padding-top: 20px;
}

figure {
	width: 310px;
	height: 370px;
}

/* Typos */

h2 {font-family: Quicksand}